<h1>All Directors</h1>

<div id="directors">
  <% @directors.each do |director| %>
    <h2><%= director.name %></h2>
    <% director.films.each do |film| %>
      <h3><%= film.title %></h3>
    <% end %>
  <% end %>
</div>
